.heading{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px rgb(38, 52, 78);
}
.note{
font-size: 15px;
color: rgb(3, 18, 68);
}
.copy_right_footer{
position: fixed;
color: rgb(81, 95, 107);
bottom: 0;
width: 100%;
background-color: rgb(28, 38, 59);
line-height: 3;
text-align: center;
}
canvas{
border: 5px solid rgb(93, 101, 114);
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(38, 52, 78);
}